<html ng-app="myApp">
    <head>
        <title>Network Monitoring | Elliot Forbes</title>
        <link rel="stylesheet" href="assets/css/bootstrap.min.css">
        <link rel="stylesheet" href="assets/css/font-awesome.min.css">
        <link rel="stylesheet" href="assets/js/c3.css">
        <script src="assets/js/d3.min.js"></script>
        <script src="assets/js/c3.js"></script>
        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
        <link rel="stylesheet" href="style.css">
    </head>
    <body>
        <div class="topnav">
            <ul class="nav">
                <li>Network Monitoring</li>
            </ul>
        </div>
        
        <div class="content">
            <div class="row">
               <div class="col-md-12">
                   <div class="status-bar">Script Status: <span class="green">Online</span></div>
               </div>
                <div ng-controller="raspberryController" class="col-md-6">
                    <div class="content-box">
                        <form novalidate>
                            <p>Enter in format: val1,val2,val3,etc</p>
                            <input ng-model="config.data1" type="text" size="100"/>
                            <select ng-model="config.type1" ng-options="typeOption for typeOption in typeOptions"></select>
                            <p>Enter in format: val1,val2,val3,etc</p>
                            <input ng-model="config.data2" type="text" size="100"/>
                            <select ng-model="config.type2" ng-options="typeOption for typeOption in typeOptions"></select>
                        </form>
                        <button ng-click="showGraph()">Show graph</button>
                    </div>
                    <div class="content-box">
                        <h2>Pis on the Network</h2>
                        <div>
                            <div data-chart data-value="value"></div>
                        </div>
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <td>#</td>
                                    <td>IP Address</td>
                                    <td>Connected</td>
                                    <td>Lease Time</td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="x in pis">
                                    <td>{{ x.ID }}</td>
                                    <td>{{ x.IP }}</td>
                                    <td>{{ x.CONNECTED }}</td>
                                    <td>{{ x.LEASE_TIME }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    
                    <div class="content-box">
                        <h2>Throughput Test Results</h2>
                        <br/>
                        <div id="throughput"></div>
                    </div>
                    
                    <div class="content-box">
                        <h2>Download/Upload Test Results</h2>
                        <br/>
                        <div id="chart3"></div>
                    </div>
                    <div class="content-box">
                        <h2>Links:</h2>
                        <br/>
                        If you wish to view the source code for this project then check out the following links:
                        <br/>
                        <ul>
                            <li><a href="https://github.com/emforce/Network-Web">Network-Web</a> : The front-end web based GUI.</li>
                            <li><a href="https://github.com/emforce/Personal">Network Monitor</a> : The Backend python script that drives the engine.</li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="content-box">
                       <h2>Network Traffic Percentages</h2>
                       <br/>
                        <div id="networkStats"></div>
                    </div>
                    
                    <div class="content-box">
                        <h2>Total Data Used</h2>
                        <div id="chart4"></div>
                    </div>
                    <div class="content-box">
                        <h2>About:</h2>
                        <br/>
                        <p>This was developed as part of a 4th Year Computer Science project which looks to test distinct elements of a network and report back to a user in real-time. 
                        This Project was built using a combination of the following:
                        <ul>
                            <li>Angular.js</li>
                            <li>C3.js + D3.js</li>
                            <li>Python</li>
                        </ul>
                        </p>
                    </div>
                </div>
            </div>

        </div>
        <script>
    var graphApp = angular.module('graphApp', []);
 
graphApp.controller('GraphCtrl', function ($scope) {
    $scope.chart = null;
    $scope.config={};
    $scope.config.data1="30, 200, 100, 200, 150, 250";
    $scope.config.data2="70, 30, 10, 240, 150, 125";
 
    $scope.typeOptions=["line","bar","spline","step","area","area-step","area-spline"];
 
    $scope.config.type1=$scope.typeOptions[0];
    $scope.config.type2=$scope.typeOptions[1];
 
 
    $scope.showGraph = function() {
        var config = {};
        config.bindto = '#chart';
        config.data = {};
        config.data.json = {};
        config.data.json.data1 = $scope.config.data1.split(",");
        config.data.json.data2 = $scope.config.data2.split(",");
        config.axis = {"y":{"label":{"text":"Number of items","position":"outer-middle"}}};
        config.data.types={"data1":$scope.config.type1,"data2":$scope.config.type2};
        $scope.chart = c3.generate(config);     
    }
});</script>
        <script src="chart.js"></script>
        <script src="assets/js/angularControllers.js"></script>
    </body>
</html>